# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Java CI with Maven

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Cache local Maven repository
        uses: actions/cache@v2
        with:
          path: ~/.m2/repository
          key: build-${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: build-${{ runner.os }}-maven-

      - name: Install JDK
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v2
        with:
          distribution: 'temurin'
          version: '16'
          architecture: x64
          impl: hotspot
          #targets: 'JDK_8;JAVA_HOME'

      - name: Install Dependencies
        run: >
          mvn clean install -B -V -q
          -DskipTests=true
          -Dmaven.javadoc.skip=true
          -Dgpg.skip=true
          --toolchains .github/workflows/.toolchains.xml

      - name: Build with Maven
        run: mvn -B package --file pom.xml --toolchains .github/workflows/.toolchains.xml